<!DOCTYPE html>
<html>
<head>
  <title>Rails3ActsAsLicensable</title>
  <%= stylesheet_link_tag    "rails3_acts_as_licensable/application" %>
  <%= javascript_include_tag "rails3_acts_as_licensable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
