<li>
  <b><%= link_to t("license_options.#{attribute.license_option.unique_name}.title"), attribute.license_option.uri %></b> - <%=h t("license_options.#{attribute.license_option.unique_name}.description") %>
</li>

